@model IEnumerable<CapaBaseDeDatos.Models.DespachosCapital>
@{
    ViewBag.Title = "EnviosCapital";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Envios Capital</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inventario</a></li>
                    <li class="breadcrumb-item active">lista</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row mb-2">
            <div class="col-12">

                <a href="#" class="btn btn-outline-primary">Exportar</a>
            </div>
        </div>


    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Capital</h3>
                <div>
                    <a href="" class="btn btn-outline-primary btn-xs float-right" style="margin:0.2em">
                        <i class="fas fa-th-large"></i>
                    </a>
                    <a href="" class="btn btn-primary btn-xs float-right" style="margin: 0.2em">
                        <i class="fas fa-list "></i>
                    </a>
                </div>

            </div>
            <!-- /.card-header -->


            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Numero Guia</th>
                            <th>Vendedor</th>
                            <th>Locacion</th>
                            <th>Estado de Envio</th>
                            <th>Observación</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var despachos in Model) 
                        {
                        <tr>
                            <td>@despachos.Id</td>
                            <td>(pendiente)</td>
                            <td>@despachos.Pedido.Direccion</td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-danger btn-xs" href="#"><i class="fas fa-trash-alt"></i></a>
                            </td>

                        </tr>
                        }
                    </tbody>

                    <tfoot>
                        <tr>
                            <th>Numero Guia</th>
                            <th>Vendedor</th>
                            <th>Locacion</th>
                            <th>EstadoEnvio</th>
                            <th>Observación</th>
                            <th>Acciones</th>


                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
